<div class="box">
  <div class="columns">
    <div class="column">
      <%= link_to post_path(post.slug) do %>
        <%= image_tag(post.featured_image) %>
      <% end %>
    </div>
    <div class="column">
      <h3><%= post.title %></h3>
      <p class="author">
        by <%= "#{post.author.first_name} #{post.author.last_name}" %>,
        on <%= Time.parse(post.published).strftime('%B %d, %Y') %>
      </p>
      <p><%= post.summary %></p>
      <p><%= link_to "Read more &rarr;".html_safe, post_path(post.slug) %></p>
    </div>
  </div>
</div>
